@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #efefee;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

/* For Firefox and Old Edge */
.no-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Chromium based browser and Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}